<!DOCTYPE html>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand">
            <img src="assets/images/home.png" width="30" height="30" class="d-inline-block align-top" alt=""> Inicio</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-rigth">

                <a class="nav-link">Iniciar Sesion </a>
                <a class="nav-link">Registro</a>

            </ul>
        </div>
        <ul class="navbar-nav navbar-rigth">
            <a class="navbar-brand"> Salir 
            <img src="assets/images/exit2.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
        </ul>
    </nav>
    <div class="row justify-content-center col mt-3">
        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <img src="assets/images/StrangersT1.png" alt="Photo" style="width:100%;">
        </div>
    </div>
    <div class="row justify-content-center col mt-3">
        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <html>

            <head>
                <meta charset="utf-8">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
                <style>
                    body {
                        font-family: 'Tangerine', serif;
                        font-size: 60px;
                    }
                </style>
            </head>

            <body>
                <div>Personajes femeninos más influyentes </div>
            </body>

            </html>
        </div>
    </div>

    <div class="row justify-content-center col mt-3 mb-3">
        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 " *ngIf="status == ''">

                    <img src="assets/images/sadie.jpg" alt="Photo" style="width:100%;">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success" ng-click="status = 'success'">{{this.valores['Opcion1']}}</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger">{{this.valores['Opcion2']}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-12 col-lg-4 col-xl-4 " *ngIf="status == 'success'">

                    <img src="assets/images/max.jpg" alt="Photo" style="width:100%;">
                    <html>

                    <head>
                        <meta charset="utf-8">
                        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
                        <style>
                            body {
                                font-family: 'Tangerine', serif;
                                font-size: 60px;
                            }
                        </style>
                    </head>

                    <body>
                        <div>Gracias por tu voto </div>
                    </body>

                    </html>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="assets/images/eleven.jpg" alt="Photo" style="width:100%;">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success">{{this.valores['Opcion1']}}</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger">{{this.valores['Opcion2']}}</button>
                        </div>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="assets/images/ella.jpg" alt="Photo" style="width:100%;">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success">{{this.valores['Opcion1']}}</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger">{{this.valores['Opcion2']}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center col mt-3">
        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-10 col-xl-10">

            <html>

            <head>
                <meta charset="utf-8">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
                <style>
                    body {
                        font-family: 'Tangerine', serif;
                        font-size: 60px;
                    }
                </style>
            </head>

            <body>
                <div>A continuacion verá una grafica con las estadisticas...</div>
            </body>

            </html>
        </div>

    </div>




    <!-- {{this.valores['Opcion1']}} -->
</div>